* body {
  font-family: sans-serif;
  color: white;
  margin: 0;
}

text {
  color: rgb(114, 161, 38);
}

.container {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}

.column {
  background: goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#column1 {
  background-color: rgb(15, 15, 15);
}

#column2 {
  background-color: rgb(139, 31, 31);
}

#button {
  background-color: rgb(240, 237, 237);
  padding: 50px 50px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e09f11;
}
